@import 'componentes/componentes';

/* --- HEADER --- */

header {

    padding-top: 0.6rem;
    background-image: url(../imagenes/headerimg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        font-size: 2rem;
        font-family: $letra-titulo;
        color: map-get($colores, negro2);
        text-transform: capitalize;
        text-align: center;
        animation: fadeIn;
        animation-duration: 2.5s; 
    }
    
    .header__logoPagina{
        display: flex;
        justify-content: center ;
        
        #header__pad{
            padding: 0;
            margin-left: auto ;
            margin-right: auto ; 
            display: flex;
            justify-content: center;

            .header__logoArg {
                padding-top: 1rem;
                margin-left: auto;
                margin-right: auto; 
                max-width: 80%;
                height: auto;
                animation: fadeIn;
                animation-duration: 3.5s;
            }
        }
    }

}

/* --- NAV --- */

.navbarM {
    display: flex;
    justify-content: center;
    background-color:map-get($colores , gris3 );
    padding: 2px;

    &__botonM {
        font-family: $letra-parrafo;
        background-color: map-get($colores , rojo1 );
        color: map-get($colores, gris3 );
    }

}

.navbar {

    &__navli {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

}


    /* --- VENTANAS NOTICIAS --- */

.noticia {                          

    @include flexnoticia (1.3rem 3% 0 3%, 0.6rem, 2.4rem, 1.1rem);

    &__imgInicio {
        max-width: 90%;
        height: auto;
        border-radius: 0px 0px 2.5rem 0px;
    }

    &__textoNota{

        &__parrafoA {
            font-size: 0.7rem;
            text-align: justify;
            font-family: $letra-parrafo;
            margin: 0 0.9rem;
        }
    
    }

    &__imgInicio {
        max-width: 90%;
        height: auto;
        border-radius: 0px 0px 2.5rem 0px;
    }
}

    /* --- Posiciones --- */

.tablaPosiciones {
    background-color: map-get($colores , blanco );
    margin: 1.3rem 5% 0 5%;
    text-align: center;
    border-left: solid map-get($colores , rojo1 ) 1rem ;
    border-radius: 2.5rem 0px;
    padding-bottom: 0.6rem;
    animation: slideInLeft;
    animation-duration: 2s;

    &__contTablas {
        background-color: map-get($colores , gris1 );
        border-radius: 1.1rem;
        margin: 1rem 3% 1rem 3%;
        padding: 1% 0;

        &__tablaPilotos {
            margin-top: 0.5rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.5rem;
            padding: 0.6rem;
        }
    }
}



    /* --- TR --- */

.tr {
    border:solid 1px map-get($colores , rojo3 );
    font-size: 0.6rem;

    &__puntos {
        text-align: center;
    }

}

.tr_circFlag{
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

/* --- HISTORIA --- */

.container {

    &__flexHist{
        display: flex;
        justify-content: space-evenly;
        margin: 2% 0;

        &__cuadroHist {
            background-color: map-get($colores , blanco );
            text-align: center;
            border-left: solid map-get($colores , rojo1 ) 1.1rem ;
            border-radius: 2.5rem 0px;
            padding: 1% 1%;
            margin: 3px 0;

            .cuadroHist__paddImg{
                padding: 5%;
                
                .cuadroHist__paddImg__fotoHist{
                    max-width: 100%;
                    height: auto;
                    border-radius: 0px 0px 2.5rem 0px;
                }
            }
        
            &__textoHistoria {
                margin: 0;
                padding: 0%;

                &__titHist{
                    text-align: left;
                    padding: 5px;
                }

                &__parrafoD{
                    font-size: 0.7rem;
                    text-align: justify;
                    font-family: $letra-parrafo;
                    margin: 0.6rem 5%;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

.contenidoContacto {
    background-color: map-get($colores , blanco );
    margin: 1.3rem 5% 0 5%;
    text-align: center;
    border-left: solid map-get($colores , rojo1 ) 1rem ;
    border-radius: 2.3rem 0px;
    animation: slideInLeft;
    animation-duration: 2s;

    &__parrafoB {
        font-size: 0.7rem;
        text-align: justify;
        font-family: $letra-parrafo;
        margin: 0 0.9rem;
    }

    &__formInput{
        text-align: left;
        margin: 0 3%;
        display: flex;
        flex-direction: column;
    }
}

/* --- TIENDA --- */

.contenidoTienda {                          
    background-color: map-get($colores , blanco );
    margin: 1.3rem 3% 0px 3%;
    text-align: center;
    border-left: solid map-get($colores , rojo1 ) 1rem ;
    border-radius: 1.8rem 0px;
    animation: slideInLeft;
    animation-duration: 2s;
    padding-bottom: 3%;

    &__textoNota {

        &__parrafoC {
            font-size: 0.7rem;
            text-align: justify;
            font-family: $letra-parrafo;
            margin: 0 0.9rem;
        }
    }
}

/* --- FOOTER --- */
footer {
    padding:2% 5%;

    .footer {
        font-size: 0.7rem;
        font-family: $letra-titulo;
        color: map-get($colores , gris2 );
        padding-top: 0.7rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        animation: slideInRight;
        animation-duration: 2s;

        &__redesSociales {
            margin-left: 0.4rem;
            width: 90%;
            height: fit-content;
            color: map-get($colores , gris2 );
            text-align: left;
            
            &__redSocial {
                text-align: justify;
                margin-left: 5%;
                padding: 0.3rem;
            }
        }

        &__ubicacionSa {
            display: flex;
            flex-direction: column;

            &__direccrionNro {
                text-align: left;
                padding: 2%;
            }

            &__ubicacionMapa {
                width: 80%;
            }
        }
    }
}

/* 404 */ 

.main__404 {
    background-color: map-get($colores, gris2 );
    text-align: center;

    &__parrafo {
        font-family: $letra-parrafo;
        background-color:  map-get($colores, gris3);
        color: map-get($colores , negro2 );
        padding: 50px;
        font-size: 20px;
        margin: 0 20%;
    }
}

@media only screen and (min-width: 768px){

    header {

        padding-top: 0.7rem;
        background-image: url(../imagenes/headerimg.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        h1 {
            font-size: 2.3rem;
            font-family: $letra-titulo;
            color: map-get($colores , gris1 );
            text-transform: capitalize;
            text-align: center;
            animation: fadeIn;
            animation-duration: 2.5s; 
        }
        
        &__logoPagina{
            display: flex;
            justify-content: center;
            
            .header_logoArg {
                padding-top: 1.1rem;
                margin-left: auto;
                margin-right: auto;
                max-width: 80%;
                height: auto;
                animation: fadeIn;
                animation-duration: 3.5s;
            }
        }
    
    }
    
    
        /* --- VENTANAS NOTICIAS --- */
    
    .noticia {                          
        
        @include flexnoticia (1.4rem 3% 0 3%, 0.8rem, 3rem, 1.4rem);

        &__imgInicio {
            max-width: 90%;
            height: auto;
            border-radius: 0px 0px 3rem 0px;
        }
    
        &__textoNota{
    
            &__parrafoA {
                font-size: 0.9rem;
                text-align: justify;
                font-family:$letra-parrafo;
                margin: 0 0.9rem;
            }
        
        }
    
        &__imgInicio {
            max-width: 90%;
            height: auto;
            border-radius: 0px 0px 3rem 0px;
        }
    }
    
        /* --- Posiciones --- */
    
    .tablaPosiciones {
        background-color: map-get($colores , blanco );
        margin: 1.4rem 10% 0 10%;
        text-align: center;
        border-left: solid map-get($colores , rojo1 ) 1rem ;
        border-radius: 3rem 0px;
        padding-bottom: 0.8rem;
        animation: slideInLeft;
        animation-duration: 2s;
    
        &__contTablas {
            background-color: map-get($colores , gris1 );
            border-radius: 1.1rem;
            margin: 1rem 3% 1rem 3%;
            padding: 1% 0;
    
            &__tablaPilotos {
                margin-top: 0.5rem;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0.5rem;
                padding: 0.9rem;
            }
        }
    }
    
        /* --- TR --- */
    
    .tr {
        border:solid 2px map-get($colores , rojo3 );
        font-size: 0.9rem;
    
        &__puntos {
            text-align: center;
        }
    
    }

    .tr_circFlag{
        height: 1.6rem;
        width: 1.6rem;
        vertical-align: middle;
    }
    
    /* --- HISTORIA --- */
    
    .container {
    
        &__flexHist{
            display: flex;
            justify-content: space-evenly;
            margin: 2% 0;
    
            &__cuadroHist {
                background-color: map-get($colores , blanco );
                text-align: center;
                border-left: solid map-get($colores , rojo1 ) 1.4rem ;
                border-radius: 3rem 0px;
                padding: 1% 1%;
                margin: 4px 0;
    
                .cuadroHist__paddImg{
                    padding: 5%;
                    
                    .cuadroHist__paddImg__fotoHist{
                        max-width: 100%;
                        height: auto;
                        border-radius: 0px 0px 3rem 0px;
                    }
                }
            
                &__textoHistoria {
                    margin: 0;
                    padding: 0%;
    
                    &__titHist{
                        text-align: left;
                        padding: 5px;
                    }
    
                    &__parrafoD{
                        font-size: 0.9rem;
                        text-align: justify;
                        font-family:$letra-parrafo;
                        margin: 0.8rem 5%;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    
    .contenidoContacto {
        background-color: map-get($colores , blanco );
        margin: 1.3rem 5% 0 5%;
        text-align: center;
        border-left: solid map-get($colores , rojo1 ) 1rem ;
        border-radius: 3rem 0px;
        animation: slideInLeft;
        animation-duration: 2s;
    
        &__parrafoB {
            font-size: 0.9rem;
            text-align: justify;
            font-family:$letra-parrafo;
            margin: 0 0.9rem;
        }
    
        &__formInput{
            text-align: left;
            margin: 0 3%;
            display: flex;
            flex-direction: column;
        }
    }
    
    /* --- TIENDA --- */
    
    .contenidoTienda {                          
        background-color: map-get($colores , blanco );
        margin: 1.4rem 3% 0px 3%;
        text-align: center;
        border-left: solid map-get($colores , rojo1 ) 1rem ;
        border-radius: 2rem 0px;
        animation: slideInLeft;
        animation-duration: 2s;
        padding-bottom: 3%;
    
        &__textoNota {
    
            &__parrafoC {
                font-size: 0.9rem;
                text-align: justify;
                font-family:$letra-parrafo;
                margin: 0 0.9rem;
            }
        }
    }
    
    /* --- FOOTER --- */
    footer {
        padding:2% 5%;
    
        .footer {
            font-size: 0.9rem;
            font-family: $letra-titulo;
            color: map-get($colores , gris2 );
            padding-top: 0.7rem;
            padding-left: 0.1rem;
            padding-right: 0.1rem;
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            animation: slideInRight;
            animation-duration: 2s;
    
            &__redesSociales {
                margin-left: 0.4rem;
                width: 90%;
                height: fit-content;
                color: map-get($colores , gris2 );
                text-align: left;
                
                &__redSocial {
                    text-align: justify;
                    margin-left: 6%;
                    padding: 0.4rem;
                }
            }
    
            &__ubicacionSa {
                display: flex;
                flex-direction: column;
    
                &__direccrionNro {
                    text-align: left;
                    padding: 2%;
                }
    
                &__ubicacionMapa {
                    width: 80%;
                }
            }
        }
    }

}

@media only screen and (min-width: 1024px){

    header {

        padding-top: 0.8rem;
        background-image: url(../imagenes/headerimg.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        h1 {
            font-size: 2.8rem;
            font-family: $letra-titulo;
            color: map-get($colores , gris1 );
            text-transform: capitalize;
            text-align: center;
            animation: fadeIn;
            animation-duration: 2.5s; 
        }
        
        &__logoPagina{
            display: flex;
            justify-content: center;
            
            .header_logoArg {
                padding-top: 1.2rem;
                margin-left: auto;
                margin-right: auto;
                max-width: 80%;
                height: auto;
                animation: fadeIn;
                animation-duration: 3.5s;
            }
        }
    
    }
    
    
        /* --- VENTANAS NOTICIAS --- */
    
    .noticia {                          

        @include flexnoticia (1.4rem 30% 0 30%, 0.9rem, 3.5rem, 1.5rem);
    
        &__imgInicio {
            max-width: 95%;
            height: auto;
            border-radius: 0px 0px 3.5rem 0px;
        }
    
        &__textoNota{
    
            &__parrafoA {
                font-size: 1.1rem;
                text-align: justify;
                font-family:$letra-parrafo;
                margin: 0 0.9rem;
            }
        
        }
    
        &__imgInicio {
            max-width: 90%;
            height: auto;
            border-radius: 0px 0px 3.5rem 0px;
        }
    }
    
        /* --- Posiciones --- */
    
    .tablaPosiciones {
        background-color: map-get($colores , blanco );
        margin: 1.4rem 30% 0 30%;
        text-align: center;
        border-left: solid map-get($colores , rojo1 ) 1rem ;
        border-radius: 3.5rem 0px;
        padding-bottom: 0.8rem;
        animation: slideInLeft;
        animation-duration: 2s;
    
        &__contTablas {
            background-color: map-get($colores , gris1 );
            border-radius: 1.1rem;
            margin: 1rem 20% 1rem 20%;
            padding: 1% 0;
    
            &__tablaPilotos {
                margin-top: 0.5rem;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0.5rem;
                padding: 0.9rem;
            }
        }
    }

        /* --- TR --- */
    
    .tr {
        border:solid 2px map-get($colores , rojo3 );
        font-size: 1.1rem;
    
        &__puntos {
            text-align: center;
        }
    
    }
    
    .tr_circFlag{
        height: 2.1rem;
        width: 2.1rem;
        vertical-align: middle;
    }
    /* --- HISTORIA --- */
    
    .container {
    
        &__flexHist{
            display: flex;
            justify-content: space-evenly;
            margin: 2% 0;
    
            &__cuadroHist {
                background-color: map-get($colores , blanco );
                text-align: center;
                border-left: solid map-get($colores , rojo1 ) 1.4rem ;
                border-radius: 3.5rem 0px;
                padding: 1% 1%;
                margin: 6px 0;
    
                .cuadroHist__paddImg{
                    padding: 3%;
                    
                    .cuadroHist__paddImg__fotoHist{
                        max-width: 100%;
                        height: auto;
                        border-radius: 0px 0px 3.5rem 0px;
                    }
                }
            
                &__textoHistoria {
                    margin: 0;
                    padding: 0%;
    
                    &__titHist{
                        text-align: left;
                        padding: 5px;
                    }
                }
            }
        }
    }

    .cuadroHist__textoHistoria__parrafoD {
        font-size: 0.9rem;
        text-align: justify;
        font-family:$letra-parrafo;
        margin: 0.8rem 5%;
        max-height: 100%;
        max-width: 100%;
    }
    
    .contenidoContacto {
        background-color: map-get($colores , blanco );
        margin: 1.4rem 20% 0 20%;
        text-align: center;
        border-left: solid map-get($colores , rojo1 ) 1rem ;
        border-radius: 3.5rem 0px;
        animation: slideInLeft;
        animation-duration: 2s;
    
        &__parrafoB {
            font-size: 1.1rem;
            text-align: justify;
            font-family:$letra-parrafo;
            margin: 0 0.9rem;
        }
    
        &__formInput{
            text-align: left;
            margin: 0 3%;
            display: flex;
            flex-direction: column;
        }
    }
    
    /* --- TIENDA --- */
    
    .contenidoTienda {                          
        background-color: map-get($colores , blanco );
        margin: 1.4rem 20% 0px 20%;
        text-align: center;
        border-left: solid map-get($colores , rojo1 ) 1rem ;
        border-radius: 2rem 0px;
        animation: slideInLeft;
        animation-duration: 2s;
        padding-bottom: 3%;
    
        &__textoNota {
    
            &__parrafoC {
                font-size: 1.1rem;
                text-align: justify;
                font-family:$letra-parrafo;
                margin: 0 0.9rem;
            }
        }
    }
    
    /* --- FOOTER --- */
    footer {
        padding:2% 8%;
    
        .footer {
            font-size: 1rem;
            font-family: $letra-titulo;
            color: map-get($colores , gris2 );
            padding-top: 0.7rem;
            padding-left: 0.1rem;
            padding-right: 0.1rem;
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            animation: slideInRight;
            animation-duration: 2s;
    
            &__redesSociales {
                margin-left: 0.4rem;
                width: 90%;
                height: fit-content;
                color: map-get($colores , gris2 );
                text-align: left;
                
                &__redSocial {
                    text-align: justify;
                    margin-left: 6%;
                    padding: 0.4rem;
                }
            }
    
            &__ubicacionSa {
                display: flex;
                flex-direction: column;
    
                &__direccrionNro {
                    text-align: left;
                    padding: 2%;
                }
    
                &__ubicacionMapa {
                    width: 80%;
                }
            }
        }
    }

}